<!doctype html>
<html>
<head>
    <title>Book Journey</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Book Your Journey</h1>

    <!-- Booking FORM -->
    <form action="/api/booking/book-package" method="post">
        <div class="form-group">
            <label>Package Destination</label>
            <input type="text" value="<%= pack.title %>" class="form-control" name="Destination" readonly>
        </div>
        <div class="form-group">
            <label>Buyer ID</label>
            <input type="text" class="form-control" value="<%= user  %>" name="Buyer" readonly>
        </div>
        <div class="form-group">
            <label>Package Days</label>
            <input type="number" class="form-control" name="Days">
        </div>
        <div class="form-group">
            <label>Package Nights</label>
            <input type="number" class="form-control" name="Nights">
        </div>
        
        <div class="form-group">
            <label>No. of Persons</Address></label>
            <input type="number" class="form-control" name="Persons">
        </div>

        <div class="form-group">
            <label>Date of Journey</label>
            <input type="date" class="form-control" name="date">
        </div>
        <div class="form-group">
            <label>Package Price per Person</Address></label>
            <input type="number" class="form-control" name="Price">
        </div>
        
        <div class="form-group">
            <label>Total Price</label>
            <input type="number" class="form-control" name="TotalPrice">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Book Now</button>
        

    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>


</div>
</div>
</body>
</html>
